<ion-content>
  <div class="container">
    <h2>{{ 'UPDATE.title' | translate }}</h2>
    <div class="image">
      <img src="../../assets/img/update.png" />
    </div>
    <p>{{'UPDATE.message' | translate }}</p>

    <ion-button
      mode="ios"
      expand="full"
      shape="round"
      onclick="window.open('https://play.google.com/store/apps/details?id=com.nrusingh.teacher_thinkzone1', '_system', 'location=yes'); return false;"
    > {{'UPDATE.button' | translate }} <ion-icon name="logo-android"></ion-icon></ion-button>
  </div>
</ion-content>