<ion-header no-border [ngClass]="(toolbarshadow)?'':'shadow'">
    <ion-toolbar class='material-toolbar' color="--ion-color-reghead">
        <ion-row>
            <ion-title class='page-title-absolute'>
                <p style="color:#ffffff;margin-bottom:0">{{ 'ASSESSMENT.title' | translate }}</p>
            </ion-title>
            <ion-back-button style="color:#ffffff"></ion-back-button>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <div class='card shadow'>
        <div class='m10'>

            <!--  Module Selector -->
            <p class='data-large headingAssement'>{{ 'ASSESSMENT.select_quarter' | translate }}</p>
            <!-- <div style='flex-wrap: wrap' class='horizontal-flexbox justifyBetween'>
                <div class='chip-style' [routerLink]="'/ecelevel'">
                    <p class='data'>{{'ASSESSMENT.quarter1' | translate}}</p>
                </div>
                <div class='chip-style' [routerLink]="'/ecelevel'">
                    <p class='data'>{{'ASSESSMENT.quarter2' | translate}}</p>
                </div>
                <div class='chip-style'>
                    <p class='data'>{{'ASSESSMENT.quarter3' | translate}}</p>
                </div>
                <div class='chip-style'>
                    <p class='data'>{{'ASSESSMENT.quarter4' | translate}}</p>
                </div>
            </div> -->
            <div style='flex-wrap: wrap' class='horizontal-flexbox justifyBetween' *ngFor='let q of quarter_list'>
                <div class='chip-style' (click)='quarter_onchange(q.value)'>
                    <p class='data'>{{q.text}}</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>