<ion-header no-border [ngClass]="(toolbarshadow)?'':'shadow'">
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">
            {{ 'STUDENT.student_details' | translate }}
          </ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar> -->
  <ion-toolbar>
    <ion-row>
      <ion-back-button style="color: gray;padding: 16px 0 16px 0"></ion-back-button>
        <ion-title style="color: gray;text-align: center;width: 100%;height: 100%"><p>Register New Student</p></ion-title>
        <!-- <ion-back-button style="color: gray"></ion-back-button> -->
        <ion-icon name='search' style="color: white;padding: 16px;opacity: 0.8;font-size: 1.8rem"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>

<!-- <div class="explore-div">
    <ion-button icon-left size="medium" shape="round" color="warning" (click)="explor()" float-right tappable class="explore-btn">
      Explore
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-button>
  </div> -->

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <!-- <ion-card> -->
    <div class="card-margin">
      <!-- Logo -->
      <!-- <div padding-horizontal text-center>
        <div class="logo"></div>
        <h3 no-margin>
          <ion-text color="light" class="fw700">
            <ion-text color="secondary">Student Register</ion-text>
          </ion-text>
        </h3>
      </div> -->
  
      <!-- Register form -->
      <form [formGroup]="onRegisterForm" class="list-form">

        <!-- Group 1 personal details -->

        <div class='shadow group'>
          <ion-row style="align-items: center;font-size: 1.6rem">
            <ion-icon style="margin-right: 10px" name="person"></ion-icon>
            <p>Personal details</p>
          </ion-row>
          <!-- Student name -->
        <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              Student name
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="fullName"></ion-input>
          </ion-item>
          <p ion-text class="text08" *ngIf="onRegisterForm.get('fullName').touched && onRegisterForm.get('fullName').hasError('required')">
            <ion-text color="danger">
              This field is required
            </ion-text>
          </p>
  
          <!-- Fathers name -->
          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              Father's name
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="father"></ion-input>
          </ion-item>
          <p ion-text class="text08" *ngIf="onRegisterForm.get('father').touched && onRegisterForm.get('father').hasError('required')">
            <ion-text color="danger">
              This field is required
            </ion-text>
          </p>
  

  
        </div>

  <ion-footer>
    <ion-toolbar>
      <ion-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button icon-left size="medium" color="secondary" (click)="explor()" tappable>
                    {{ 'STUDENT.baseline' | translate }}
                  <ion-icon name="arrow-dropright"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button icon-left size="medium" color="secondary" (click)="open_register_modal(null, 'new')" tappable>
                    {{ 'STUDENT.register' | translate }}
                  <ion-icon name="arrow-dropright"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-title>
    </ion-toolbar>
  </ion-footer>


        <div class='shadow group'>
          <ion-row style="align-items: center;font-size: 1.6rem">
            <ion-icon style="margin-right: 10px" name="clipboard"></ion-icon>
            <p>Additional information</p>
          </ion-row>
          <!-- DOB -->
          <ion-item class="radio-margin">
            <ion-label style="color: gray">DOB</ion-label>
            <ion-datetime display-format="DD/MM/YYYY" picker-format="DD MM, YYYY" (ionChange)="dob_onhange($event.detail.value)"></ion-datetime>
          </ion-item>
          <!-- Phone -->
          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              Phone
            </ion-label>
            <ion-input color="secondary" type="number" formControlName="phone"></ion-input>
          </ion-item>
          <p ion-text class="text08" *ngIf="onRegisterForm.get('phone').touched && onRegisterForm.get('phone').hasError('required')">
            <ion-text color="danger">
              This field is required
            </ion-text>
          </p>
          <!-- Gender -->
          <div class='horizontal-flexbox'>
            <div (click)='gender="male"' [ngClass]='(gender=="male")?"selected-chip":"unselected-chip"'>
              <p style="padding: 10px; margin: 0px">Male</p>
            </div>
        
            <div (click)='gender="female"' [ngClass]='(gender=="female")?"selected-chip":"unselected-chip"'>
              <p style="padding: 10px; margin: 0px">Female</p>
            </div>
          </div>
        </div>

        <div class='shadow group'>
          <ion-row style="align-items: center;font-size: 1.6rem">
            <ion-icon style="margin-right: 10px" name="podium"></ion-icon>
            <p>Program</p>
          </ion-row>
          <!-- Program -->
          <div style="margin: 10px;color: gray">
            <div class='horizontal-flexbox'>
              <div (click)='select_program_onchange("ece")' [ngClass]='(program=="ece")?"selected-chip":"unselected-chip"'>
                <p style="padding: 10px; margin: 0px">ECE</p>
              </div>
          
              <div (click)='select_program_onchange("pge")' [ngClass]='(program=="pge")?"selected-chip":"unselected-chip"'>
                <p style="padding: 10px; margin: 0px">PGE</p>
              </div>
            </div>
          </div>
          <div [ngClass]='buttonclass'>
            <div class='horizontal-flexbox'>
              <p>Select a class</p>
              <div style='width: 60%; background: #E0E0E0;margin-left: 20px;height: 1px;'></div>
            </div>
            
            <div class='horizontal-flexbox' style='flex-wrap: wrap' [ngClass]='(buttonclass=="revealer")?"inner-stuff-visible":"inner-stuff-hidden"'>
              <div style='margin-top: 10px;margin-right: 15px;margin-left: 15px' (click)='select_class_onchange(c)' [ngClass]='(class==c)?"selected-chip":"unselected-chip"' *ngFor='let c of class_list'>
                <p style="padding: 10px; margin: 0px">{{c}}</p>
              </div>
            </div>
          </div>
        </div>
        
        <!-- <ion-item class="radio-margin">
          <ion-label>Program</ion-label>
          <ion-select placeholder="Select One" (ionChange)="select_program_onchange($event.detail.value)" class="select-width">
            <ion-select-option value="ece">ECE</ion-select-option>
            <ion-select-option value="pge">PGE</ion-select-option>
          </ion-select>
        </ion-item> -->

        <!-- Class -->
        <!-- <ion-item class="radio-margin">
          <ion-label>Class</ion-label>
          <ion-select placeholder="Select One" (ionChange)="select_class_onchange($event.detail.value)" class="select-width">
            <ion-select-option *ngFor="let cls of class_list" value="{{cls}}">{{ cls }}</ion-select-option>
          </ion-select>
        </ion-item> -->


        <!-- Gender -->
        <!-- <div style="margin: 10px;color: gray">
          <ion-row style="align-items: center;font-size: 1.6rem">
            <ion-icon name="female"></ion-icon>
            <ion-icon style="margin-left: -10px;margin-top: -10px;margin-right: 10px" name="male"></ion-icon>
            <p>Gender</p>
          </ion-row>
          <div class='horizontal-flexbox'>
            <div (click)='gender="male"' [ngClass]='(gender=="male")?"selected-chip":"unselected-chip"'>
              <p style="padding: 10px; margin: 0px">Male</p>
            </div>
        
            <div (click)='gender="female"' [ngClass]='(gender=="female")?"selected-chip":"unselected-chip"'>
              <p style="padding: 10px; margin: 0px">Female</p>
            </div>
          </div>
        </div> -->
        
        <!-- <ion-item class="radio-margin">
          <ion-label>Gender</ion-label>
          <ion-select placeholder="Select One" (ionChange)="gender_onchange($event.detail.value)" class="select-width">
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="male">Male</ion-select-option>
          </ion-select>
        </ion-item> -->

  
      </form>
  
      <div (click)="signUp()" [ngClass]='(onRegisterForm.valid)?"shadow":""' [style.background]='(onRegisterForm.valid)?"#2196f3":"#90A4AE"' style='text-align: center;border-radius: 4px;color: white'>
        <p style='padding: 10px;font-size: 1.4rem'>Register</p>
      </div>
      <!-- <div margin-top>
        <ion-button icon-left size="medium" expand="full" (click)="signUp()" [disabled]="!onRegisterForm.valid"
          tappable>
          <ion-icon name="log-in"></ion-icon>
          Register
        </ion-button>
      </div> -->
    </div>
  <!-- </ion-card> -->
  
</ion-content>
  