<ion-header>
  <ion-toolbar (click)="checkQuizStatus()">
    <ion-row>
      <button (click)="checkQuizStatus()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      <ion-title>{{ 'TRAINING.quizTitle' | translate }}</ion-title>

      <!-- <div class="one" *ngIf="!quizstatus">
        <ion-icon name="stopwatch"></ion-icon>
        <p>{{display | date :"mm:ss":'UTC'}}</p>
      </div> -->
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="true" [scrollEvents]="true">
  <ion-slides #slides *ngIf="!quizstatus" [options]="{allowTouchMove:false}">
    <ion-slide *ngFor="let q of quiz">
      <div class="container">
        <div class="wrapper">
          <p>{{qno}}/{{quiz.length}}</p>

          <h3>{{q.question}}</h3>
          <div class="custom-shape-divider-bottom-1618830081">
            <svg
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1200 120"
              preserveAspectRatio="none"
            >
              <path
                d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
                class="shape-fill"
              ></path>
            </svg>
          </div>
        </div>

        <div class="grp">
          <ion-radio-group [(ngModel)]="q.selectedOption">
            <ion-item *ngIf="q.A">
              <ion-label text-wrap>A. {{q.A}}</ion-label>
              <ion-radio
                mode="ios"
                value="A"
                [disabled]="disable_radio"
                (ionSelect)="logData(q)"
              ></ion-radio>
            </ion-item>
            <ion-item *ngIf="q.B">
              <ion-label text-wrap>B. {{q.B}}</ion-label>
              <ion-radio
                mode="ios"
                value="B"
                [disabled]="disable_radio"
                (ionSelect)="logData(q)"
              ></ion-radio>
            </ion-item>
            <ion-item *ngIf="q.C">
              <ion-label text-wrap>C. {{q.C}}</ion-label>
              <ion-radio
                mode="ios"
                value="C"
                [disabled]="disable_radio"
                (ionSelect)="logData(q)"
              ></ion-radio>
            </ion-item>
            <ion-item *ngIf="q.D">
              <ion-label text-wrap>D. {{q.D}}</ion-label>
              <ion-radio
                mode="ios"
                value="D"
                [disabled]="disable_radio"
                (ionSelect)="logData(q)"
              ></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <div *ngIf="quizstatus">
    <div class="para">
      <p>No Questions found !</p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-button
    *ngIf="!quizstatus"
    (click)="move(1)"
    [hidden]="(qno == quiz.length)?true:false"
    [disabled]="disable_next_button"
    expand="block"
    >Next Question<ion-icon name="caret-forward-outline"></ion-icon
  ></ion-button>

  <ion-button
    (click)="finishQuiz()"
    [disabled]="disable_submit_button"
    *ngIf="submitButton"
    expand="block"
    >{{submitButtonText}}</ion-button
  >
</ion-footer>
