<ion-header no-border [ngClass]="(toolbarshadow)?'':'shadow'">
  <ion-toolbar>
    <ion-row>
      <ion-buttons>
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title> Payments </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <p class="data-large text-center red">{{ errormessage }}</p>
    <div class="wrapper" *ngFor="let s of student_list">
      <div class="wrapper-container">
        <h1>{{ s.studentname }}</h1>

        <div class="main">
          <p>Program - {{ s.program | uppercase }}</p>

          <p>
            {{s.program == 'pge' ? 'Class' : ' ' }} {{s.program == 'ece' ?
            'Anganwadi' : s.class }}
          </p>
        </div>
      </div>
      <hr />
      <div class="buttons">
        <ion-button (click)="viewpayment(s)"> View </ion-button>
        <ion-button (click)="makepayment(s)"> Pay </ion-button>
      </div>
    </div>
  </div>
</ion-content>
<!--Code Commented by Abinash Shasini on 19/07/2021 Design change in the payments module-->

<!-- <ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <p class="data-large text-center red">{{ errormessage }}</p> -->
<!-- <div *ngFor='let s of student_list' class='shadow hfsb m10'>
        <div class='vertical-flexbox student-details'>
            <p class='data-large'>Name: {{ s.studentname }}</p>
            <p class='data'>Program: {{ s.program }}</p>
            <p class='data'>Class: {{ s.class }}</p>
        </div>
        <div class='m10'>
            <div (click)="viewpayment(s)" class='action-button'>
                <p class='data blue'>View</p>
            </div>
            <div (click)="makepayment(s)" style='color: white' class='solid-action-button shadow'>
                <p class='data white'>Pay</p>
            </div>
        </div>
    </div> -->

<!-- <div *ngFor="let s of student_list">
    <ion-card class="cardPading">
      <div class="verAlign">
        <div class="horAlign">
          <div class="text-center">
            <p class="pMargin">Name</p>
            <p class="pMargin font18">{{ s.studentname }}</p>
          </div>
          <div class="vr"></div>
          <div class="text-center">
            <p class="pMargin">Program</p>
            <p class="pMargin font18">{{ s.program | uppercase }}</p>
          </div>
          <div class="vr"></div>
          <div class="text-center">
            <p class="pMargin">{{s.program == 'pge' ? 'Class' : ' ' }}</p>
            <p class="pMargin font18">
              {{s.program == 'ece' ? 'Anganwadi' : s.class }}
            </p>
          </div>
        </div>
        <hr class="hr" />
        <div class="btnhorAlign">
          <div (click)="viewpayment(s)" class="action-button">
            <p class="data blue pMargin">View</p>
          </div>
          <div
            (click)="makepayment(s)"
            style="color: white"
            class="solid-action-button shadow"
          >
            <p class="data white pMargin">Pay</p>
          </div>
        </div>
      </div>
    </ion-card>
  </div> -->

<!-- <div>
    <ion-card class="">
      <ion-list>
        <ion-item *ngFor="let slist of student_list;" class="ionitem">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>{{ slist.studentname }} 
                    <p> Program: {{ slist.program }}</p> 
                    <p> Registration Date: {{ slist.registration_date | date: 'dd-MM-yyyy' }}</p> 
                    <p *ngIf="slist.class > 0"> Class: {{ slist.class }}</p>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="right-align">
                <ion-col>
                  <ion-button icon-left size="medium" color="dark" (click)="viewpayment(slist)" float-right tappable class="explore-btn">
                    View
                    <ion-icon name="paper"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button icon-left size="medium" color="dark" (click)="makepayment(slist)" float-right tappable class="explore-btn">
                    Pay
                    <ion-icon name="send"></ion-icon>
                  </ion-button>
                </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
 -->
