<ion-header no-border [ngClass]="(toolbarshadow)?'shadow':'shadow'">
    <ion-toolbar class='material-toolbar' color="--ion-color-reghead">
        <ion-row>
            <ion-title class='page-title-absolute'>
              <span *ngIf="selected_subject=='na'">
                <p style="margin-bottom: 0px;color:#ffffff;text-transform:capitalize;" >{{ 'ECEACTIVITY.title2' | translate}}</p>
              </span>
              <span *ngIf="selected_subject=='math'">
                <p style="margin-bottom: 0px;color:#ffffff;text-transform:capitalize;">{{ 'PGEACTIVITY.title_math' | translate}}</p>
              </span>
              <span *ngIf="selected_subject=='english'">
                <p style="margin-bottom: 0px;color:#ffffff;text-transform:capitalize;">{{ 'PGEACTIVITY.title_eng' | translate}}</p>
              </span>
              <span *ngIf="selected_subject=='odia'">
                <p style="margin-bottom: 0px;color:#ffffff;text-transform:capitalize;">{{ 'PGEACTIVITY.title_odia' | translate}}</p>
              </span>
              <!-- <p style="margin-bottom: 0px;color:#ffffff;font-size:12px;font-style: italic;text-transform:capitalize;">{{ 'ECEACTIVITY.month' | translate}} : {{selected_month}},{{ 'ECEACTIVITY.week' | translate}} : {{selected_week}}, {{ 'ECEACTIVITY.level' | translate}} : {{selected_activity}}</p> -->
            </ion-title>
            <!-- <ion-button color="light" (click)="close_modal()" class="close_btn">X</ion-button> -->
            <ion-back-button style="color:#ffffff"></ion-back-button>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div  class="content-bg">
    <div style="padding: 2px 15px;background-color: #c4c2c294;color: black;font-weight: bold;">
      <p style="margin-bottom: 0px;text-transform:capitalize;">
            {{(selected_month_label.length>15) ? (selected_month_label | slice:0:15)+'..':(selected_month_label)}} | 
            {{(selected_week_label.length>10 ? (selected_week_label | slice:0:10)+'..':(selected_week_label))}} | 
            {{'ECEACTIVITY.level' | translate}} : {{selected_activity}}
      </p>
    </div>

    <div style="padding-top: 1px;"> <!-- height:100vh; -->
        <ion-card style="margin:16px">
            <div style="height: 66vh;width: 100%;padding-top:1px;">
                <div class='shadow' style="background: white;min-height: 100%;max-height: 70%;height: 70%;width: 100%; overflow-y: auto;border: 1px solid gray;border-radius: 15px;">
                    <!-- <ion-textarea disabled readonly value="{{ content }}" style="margin-top: 0px;padding: 10px 25px;height: 100%"></ion-textarea> -->
                    <div [innerHTML]="content" style="margin-top: 0px;padding: 10px 25px;height: 100%"></div>
                    <!-- <ng-container>
                      <img *ngFor="let img of image" src="http://3.135.181.145:1234/thinkzone/getimage/{{img}}" (click)="gallaryModel(img)">
                    </ng-container> -->
                </div>
            </div>
        </ion-card>
        <ion-card style="margin:16px" *ngIf="video.length > 0">
            <div class='horizontal-flexbox' style='width: 100%; background:#ffffff; color: gray; text-align: center; justify-content: space-between; padding:10px;'>
                <div (click)='play_video()' class="horAlign">
                    <ion-icon name='play' style="color: #2196f3; border: 1px solid #0f548d; padding: 6px; border-radius: 50%;"></ion-icon>
                    <p class="padLeft">{{ 'ECEACTIVITY.video' | translate}}</p>
                </div>

                <div *ngIf="selected_program == 'pge'" (click)='open_document()' class="horAlign">
                    <ion-icon style="color: #2196f3;font-size: 2rem;" name='paper'></ion-icon>
                    <p class="padLeft">{{ 'ECEACTIVITY.worksheet' | translate}}</p>
                </div>
            </div>
        </ion-card>
      </div>
      <!-- <div style="height: 100%;width: 100%;background: #f2e6e6;">
        <div class='shadow' style="background: white;margin-right: 10%;margin-left: 5%;min-height: 70%;max-height: 70%;height: 70%;width: 90%; overflow-y: auto;">
          <div [innerHTML]="content" style="margin-top: 0px;padding: 10px 25px;height: 100%"></div>
        </div>
        <div class='vertical-flexbox' style="justify-content: center;overflow: auto;background: white;min-height: 30%;max-height: 30%;margin: 5% 5% 0 5%;border-radius: 8px 8px 0px 0px">
  
        <div class='horizontal-flexbox' style='width: 100%;color: gray;text-align: center;justify-content: space-evenly'>
          <div (click)='play_video()'>
            <ion-icon style="color: #2196f3;font-size: 2rem;" name='play'></ion-icon>
            <p style='margin-top: 5px'>{{ 'ECEACTIVITY.video' | translate}}</p>
          </div>
          <div (click)='open_document()'>
            <ion-icon style="color: #2196f3;font-size: 2rem;" name='document'></ion-icon>
            <p style='margin-top: 5px'>{{ 'ECEACTIVITY.worksheet' | translate}}</p>
          </div>
        </div>
        <div (click)='(isEnabled_completeActivityButton)?complete_activity():""' [style.background]='(isEnabled_completeActivityButton)?"#2196f3":"#90A4AE"' style='overflow: auto;width: 90%;margin-right: 5%;margin-left: 5%;text-align: center;color: white;border-radius: 4px; height: 40px; font-size: 20px; padding-top: 8px;'>
          {{ 'ECEACTIVITY.btn_save' | translate}}
        </div>
      </div>
    </div> -->
    <!-- <ion-grid>
      <ion-row>
        <ion-item class="full_width">
          <ion-label>Scrollable content</ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="full_width">
          <ion-textarea disabled readonly value="{{ content }}" class="textarea"></ion-textarea>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="full_width">
          <ion-label>Video content</ion-label>
        </ion-item>
      </ion-row>
      <ion-row class="right-align">
        <ion-button shape="round" fill="outline" size="medium" color="primary" (click)="play_video()" tappable class="explore-btn">
          Play Video
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-item class="full_width">
          <ion-label>Work Sheets</ion-label>
        </ion-item>
      </ion-row>
      <ion-row class="right-align">
        <ion-button shape="round" fill="outline" size="medium" color="primary" (click)="open_document()" tappable class="explore-btn">
          Open Document
        </ion-button>
      </ion-row>
      <ion-row class="right-align">
        <ion-button icon-left size="medium" color="primary" (click)="complete_activity()" [disabled]="!isEnabled_completeActivityButton"  float-right tappable class="explore-btn">
          Complete Activity
        </ion-button>
      </ion-row>
    </ion-grid> -->
    <ion-fab *ngIf="displayfab" vertical="top" horizontal="end" slot="fixed" class="fab-button-class"> 
      <ion-fab-button (click)="updateactivityfab()" [ngClass]="{'btnliked': btnliked, 'btndisliked': !btnliked }" >
        <ion-icon name="thumbs-up"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>

<ion-footer *ngIf="(!isActivity_alreadySaved)">
  <ion-grid class="footer-grid">
    <ion-row>
      <ion-col size="12" class="complete-button" [style.background]='(!isActivity_alreadySaved)?"#2196f3":"#90A4AE"'>
      <div  (click)='(!isActivity_alreadySaved)?complete_activity():""' [style.background]='(!isActivity_alreadySaved)?"#2196f3":"#90A4AE"' >
        {{ 'ECEACTIVITY.btn_save' | translate}}
      </div>
      <!-- <div *ngIf="(!isActivity_alreadySaved)" (click)='(!isActivity_alreadySaved)?complete_activity():""' [style.background]='(!isActivity_alreadySaved)?"#2196f3":"#90A4AE"' >
        {{ 'ECEACTIVITY.btn_save' | translate}}
      </div> -->
      </ion-col>
      <!-- <ion-col size="4" style="text-align: center;">
        <ion-icon name='heart'  ></ion-icon>
        <ion-icon name="heart-dislike"></ion-icon>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-footer>