:host {
    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
    .card-content-md {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 0px;
        line-height: 0;
    }
}

.content-bg{
    background-image: url('./../../../assets/img/activity-bg.jpg');  
    background-repeat: no-repeat;
    background-size: 130% 100%;
}
img {
    width: 100%;
    max-width: 100%;
}

.textarea {
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
    line-height: 30px;
}


/* disabled ion select option */

::shadow /deep/ button[disabled] .alert-radio-label {
    color: #a3a3a3;
}

.text10 {
    font-size: 10px;
    font-family: monospace;
}

.button-bg {
    background-color: #381dd8;
}

.card_padding20 {
    padding: 20px;
}

.span_text {
    font-family: inherit;
}

.span_text9 {
    font-size: 9px;
}

.span_text40 {
    font-size: 40px;
}

.center-aligned {
    text-align: center;
}

.ion-col-style {
    text-align: center;
    border: 1px solid #a4a4a4;
    background-color: #e4e7fd;
    margin: 3px;
    box-shadow: 0px 1px 1px 0px;
}

.color_feedback {
    color: green;
}

.color_pic {
    color: #c88f36;
}

.color_location {
    color: #002080;
}

.color_payment {
    color: #800069;
}

.color_assessment {
    color: #007f80;
}

.color_comvisit {
    color: #925901;
}

.color_issues {
    color: #eb0707;
}

.btn-margin {
    margin-left: 34%;
}

.card-margin {
    margin: 20px;
}

.radio-margin {
    margin-left: -15px;
}

.explore-div {
    background-color: #f3f3f3;
}

.explore-btn {
    width: 100%;
}

.select-width {
    max-width: 100%;
}

.right-align {
    text-align: right;
}

.full_width {
    width: 100%;
}

.segment-button {
    text-transform: none;
    border: 1px solid #c2c2e8;
    ;
    border-radius: 100px;
}

.date-button {
    background-color: #ffce00;
    box-shadow: 1px 1px 0px 1px #afacac;
    width: 100%;
    border-radius: 100px !important;
}

.row-margin-top {
    margin-top: 60px;
}

.row-margin-bottom {
    margin-bottom: 60px;
}

// .card-padding{
//     padding: 30px;
// }
a[disabled],
button[disabled],
html input[disabled] {
    cursor: not-allowed !important;
}

.whitecard {
    background-color: white;
    padding: 15px;
    font-weight: bold;
}

.close_btn {
    font-size: 18px;
    font-weight: bold;
}

.material-toolbar {
    background: #002b45 !important;
}

.horAlign {
    display: flex;
    align-items: center;
}

.padLeft {
    padding-left: 10px;
    margin: 0;
}
.footer-grid {
    padding: 0px;
    
    ion-row {
        padding: 0px;
    }

    ion-col {
        padding: 0px;
    }

    ion-icon {
        font-size: 24px;
        padding: 10px;
        height: 70%;
    }

    .complete-button {
        text-align: center;
        padding: 10px;
        color: white;
    }
}

.btnliked { 
    //--ion-color-base: #006161 !important; 
    --background: #0e2b45;
}


.btndisliked { 
    //--ion-color-base: #006161 !important; 
    --background: red;
}

ion-fab-button {
    .button-inner {
        background: red;
        background-color: red;
        --background: red;
    }
}
