.material-toolbar {
    background: #002b45 !important;
}

.pMargin {
    margin-bottom: 0px;
}

.noVideo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}