<ion-content> 
  <ion-card class="half-modal">
    <ion-card-header color="primary">
      <ion-card-title>{{ 'HOLIDAY.title' | translate  }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <form [formGroup]="setholidayFormGroup" class="list-form">
          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              <ion-icon name="Holiday Name" item-start></ion-icon>
              {{ 'HOLIDAY.holiday_name' | translate  }}
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="holidayname"></ion-input>
          </ion-item>
          <p ion-text class="text08" *ngIf="setholidayFormGroup.get('holidayname').touched && setholidayFormGroup.get('holidayname').hasError('required')">
            <ion-text color="danger">
              {{ 'HOLIDAY.invalid' | translate  }}
            </ion-text>
          </p>
        </form>
    </ion-card-content>

    <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-button color="medium" (click)="closeModal()">
              <ion-icon slot="start" name="close"></ion-icon> {{ 'HOLIDAY.btn_cancel' | translate  }}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button icon-left color="primary" (click)="setholiday()" [disabled]="!setholidayFormGroup.valid" tappable>
              <ion-icon name="save"></ion-icon> {{ 'HOLIDAY.btn_save' | translate  }}
            </ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>