ion-header {
  ion-toolbar {
    --background: #373b44;
    --background: -webkit-linear-gradient(to right, #4286f4, #373b44);
    --background: linear-gradient(to right, #4286f4, #373b44);

    .backbutton {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      background: transparent;
      ion-icon {
        margin: auto;
        font-size: 1.5rem;
        color: white;
        font-weight: 400;
      }
    }

    ion-back-button {
      color: #ffffff;
    }

    ion-title {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: 1px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      margin-left: -48px;
    }
  }
}

ion-content {
  --background: #eff4ff;
  height: 100%;
  .segment {
    .module-test {
      overflow-x: auto;
      width: 100%;
      border-radius: 5px;
      display: flex;
      align-items: center;
      background: white;
      padding: 12px;
    }

    .module-test::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  }

  .container {
    background: #314755; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #26a0da,
      #314755
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #26a0da,
      #314755
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: grid;
    grid-template-columns: 30% 70%;
    width: 94%;
    margin-left: 3%;
    padding: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;
    border-radius: 5px;

    .index {
      height: 70px;
      width: 70px;
      background: #3b5464ec;
      border-radius: 50%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      img {
        width: 50px;
        height: 50px;
      }
    }

    .wrapper {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-gap: 10px;

      h2 {
        font-size: 1.1rem;
        color: black;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: sans-serif;
        margin: 0;
        color: white;
      }

      .border {
        height: 1px;
        background: black;
        width: 80%;
        margin: 10px 0px;
      }

      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 0;
        padding: 5px 10px;
        border-radius: 4px;
        margin-right: 5px;
        background: #26a0da;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .complete {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          ion-icon {
            font-size: 1.3rem;
            margin-right: 6px;
            color: rgb(0, 255, 0);
          }
        }

        h3 {
          font-size: 1rem;
          color: black;
          text-transform: capitalize;
          font-weight: 300;
          margin: 0;
          font-family: sans-serif;
          color: white;
        }

        h4 {
          font-size: 0.9rem;
          color: black;
          font-weight: 400;
          margin: 0;
          font-family: sans-serif;
          color: white;
          text-decoration: underline;
        }

        .btn-outline {
          display: flex;
          align-items: center;
          flex-direction: row;
          color: white;
          font-family: sans-serif;
          font-size: 1rem;
          text-transform: capitalize;
          font-weight: 400;
        }
      }
    }
  }

  @keyframes white-to-blue {
    0% {
      background: white;
      color: #2196f3;
    }
    100% {
      background: #2196f3;
      color: white;
    }
  }

  .selected-chip {
    animation: white-to-blue 0.6s;
    animation-fill-mode: forwards;
    border-radius: 5px;
    text-align: center;
    background: #2196f3;
    min-width: 170px;
    min-height: 15px;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0px;
    p {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      text-transform: capitalize;
      font-weight: 500;
    }

    ion-icon {
      font-size: 1.5rem;
      color: rgb(0, 255, 0);
      margin-left: 15px;
    }
  }

  @keyframes blue-to-white {
    0% {
      color: white;
      background: #2196f3;
    }
    100% {
      color: #2196f3;
      background: white;
    }
  }

  .unselected-chip {
    animation: blue-to-white 0.6s;
    animation-fill-mode: forwards;
    border-radius: 5px;
    text-align: center;
    color: #2196f3;
    border: 1px #2196f3 solid;
    min-width: 170px;
    min-height: 15px;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0px;

    p {
      color: #2196f3;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      text-transform: capitalize;
      font-weight: 500;
    }

    ion-icon {
      font-size: 1.5rem;
      color: #4caf50;
      margin-left: 15px;
    }
  }

  .selected-chip p,
  .unselected-chip p {
    margin: 0;
  }
}
