<!--New Code added by Abinash Shasini-->
<ion-app>
  <ion-split-pane>
    <!-- Ion-Menu Items -->

    <ion-menu>
      <ion-content>
        <ion-list lines="none" style="padding: 0; padding-bottom: 5px">
          <ion-list-header style="color: black; font-weight: bold">
            {{ "ThinkZone India" | translate }}
          </ion-list-header>
          <div class="img-section">
            <ion-avatar class="avatarimg">
              <img
                src="{{ profile_image }}"
                onerror="this.onerror=null; this.src='./../../../../assets/img/default-user-profile-image.png'"
              />
            </ion-avatar>
            <div class="name_user">
              <h2>
                {{ _username }}
              </h2>
            </div>
          </div>
        </ion-list>

        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerLink="/home-results"
              routerLinkActive="selected"
              detail="false"
            >
              <ion-icon slot="start" name="home"></ion-icon>

              <ion-label>{{ "APP.home" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerLink="/profile"
              routerLinkActive="selected"
              detail="false"
            >
              <ion-icon slot="start" name="person"></ion-icon>

              <ion-label>{{ "APP.profile" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerLink="/message"
              routerLinkActive="selected"
              detail="false"
            >
              <ion-icon slot="start" name="mail-unread"></ion-icon>

              <ion-label>{{ "APP.message" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              [routerLink]="['/userfeedback']"
              routerLinkActive="selected"
              detail="false"
            >
              <ion-icon slot="start" name="chatboxes"></ion-icon>
              <ion-label>{{ "APP.user_feedback" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="sync_app()">
              <ion-icon slot="start" name="swap"></ion-icon>
              <ion-label>{{ "APP.sync" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              [routerLink]="['/leaderboard']"
              routerLinkActive="selected"
              detail="false"
            >
              <ion-icon slot="start" name="list-box"></ion-icon>
              <ion-label> {{ "APP.leaderboard" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              onclick="window.open('https://thinkzone-teacherapp.flycricket.io/privacy.html', '_system', 'location=yes'); return false;"
            >
              <ion-icon slot="start" name="paper"></ion-icon>

              <ion-label>
               Privacy Policy
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerLink="/about"
              routerLinkActive="selected"
              detail="false"
            >
              <ion-icon slot="start" name="information-circle"></ion-icon>
              <ion-label>{{ "APP.about" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="update_button_click()">
              <ion-icon slot="start" name="appstore"></ion-icon>
              <ion-label>{{ "UPDATE.button" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list lines="none">
          <div class="wrap">
            <a href="https://api.whatsapp.com/send?phone=919178198947">
              <ion-icon name="logo-whatsapp"></ion-icon>whatsapp</a
            >
            <a href="tel:09178198947"
              ><ion-icon name="call" style="color: #309b3c"></ion-icon> Call
              Us</a
            >
          </div>
        </ion-list>
        <ion-footer no-border [ngClass]="toolbarshadow ? '' : 'shadow'">
          <ion-button (click)="logout()">
            {{ "APP.logout" | translate }}
            <ion-icon name="log-out"></ion-icon>
          </ion-button>

          <p>{{ "APP.version" | translate }}: {{ app_version }}</p>
        </ion-footer>
      </ion-content>
    </ion-menu>

    <!-- Router Outlets -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<!-- Old code commented by Abinash Shasini Date:- 17/06/2021-->

<!-- <ion-app>
  <ion-split-pane>
    <ion-menu>
      <div class="d-Flex">
        <img
          src="{{ user_profile_image }}"
          alt=""
          style="width: 26%; border: 1px solid grey; border-radius: 50%"
        />
        <p class="thinkzonename">
          {{ "APP.thinkzone" | translate }}
          <br /><span class="version"
            >{{ "APP.version" | translate }}: {{ app_version }}</span
          >
        </p> -->
<!-- <p><img src="/assets/img/new_logo.png"  style="height: 12vh;"></p> 
      </div>

  
      <div>
        <ion-menu-toggle auto-hide="false">
          <!-- <ion-item class="firstitemmenu"> -->
<!-- <ion-icon style="margin-right: 16px;color: #979797" name='map'></ion-icon> -->
<!-- <img src="/assets/img/Language.png" style="width:7%" alt="" class="imgcmn" />
                        <ion-label class="menuName">{{ 'APP.language' | translate }}</ion-label>
                        <ion-select interface="action-sheet" style="color:#ffffff;font-size:12px" placeholder="Select One" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged($event.target.value)">
                            <ion-select-option value="en">English</ion-select-option>
                            <ion-select-option value="od">ଓଡିଆ</ion-select-option> -->
<!-- <ion-select-option value="hi">हिंदी</ion-select-option> -->
<!-- </ion-select> -->
<!-- <ion-icon style="color:#ffffff" name="arrow-down" mode="ios" slot="end"></ion-icon> -->
<!-- </ion-item> 
        </ion-menu-toggle>
        <div class="mainmenubackground">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/home-results" class="menubackground">
              <!-- <ion-icon style="margin-right: 16px;color: #979797" name='home'></ion-icon>
              <img
                src="/assets/img/Home-Icon.png"
                alt=""
                style="width: 7%"
                class="imgcmn"
              />
              <ion-label class="menuName">{{
                "APP.home" | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!--                     
                    <ion-menu-toggle auto-hide="false">
                      <ion-item routerLink='/manager-box' class="menubackground">
                          <img src="/assets/img/Home-Icon.png" alt="" style="width:7%" class="imgcmn" />
                          <ion-label class="menuName">Gallery</ion-label>
                      </ion-item>
                    </ion-menu-toggle> 
                    

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/profile" class="menubackground">
              <!-- <ion-icon style="margin-right: 16px;color: #979797" name='person'></ion-icon> 

              <img
                src="/assets/img/Profile-Icon.png"
                alt=""
                style="width: 7%"
                class="imgcmn"
              />
              <ion-label class="menuName">{{
                "APP.profile" | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/message" class="menubackground">
              <img
                src="/assets/img/Message-Icon.png"
                alt=""
                style="width: 7%"
                class="imgcmn"
              />
              <!-- <ion-icon style="margin-right: 16px;color: #979797" name='mail-unread'></ion-icon> 

              <ion-label class="menuName">{{
                "APP.message" | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              [routerLink]="['/userfeedback']"
              direction="forward"
              class="menubackground"
            >
              <img
                src="/assets/img/Feedback-Icon.png"
                alt=""
                style="width: 7%"
                class="imgcmn"
              />
              <!-- <ion-icon style="margin-right: 16px;color: #979797" name='chatboxes'></ion-icon> 
              <ion-label class="menuName">{{
                "APP.user_feedback" | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="sync_app()" class="menubackground">
              <img
                src="/assets/img/Logout-Icon.png"
                alt=""
                style="width: 7%"
                class="imgcmn"
              />
              <!-- <ion-icon style="margin-right: 16px;color: red" name='log-out'></ion-icon> 
              <ion-label class="menuName">{{
                "APP.sync" | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              class="menubackground"
              onclick="window.open('https://thinkzone-teacherapp.flycricket.io/privacy.html', '_system', 'location=yes'); return false;"
            >
              <!-- <ion-icon style="margin-right: 16px;color: #979797" name='paper'></ion-icon> 
              <img
                src="/assets/img/PrivacyPolicy-Icon.png"
                alt=""
                style="width: 7%"
                class="imgcmn"
              />
              <!-- <ion-label style="color: #979797">{{'APP.user_feedback' | translate}}</ion-label> 
              <ion-label>
                <a class="ion-home color-primary item menuName" href="#">
                  {{ "APP.privacy_policy" | translate }}</a
                >
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/about" class="menubackground">
              <img
                src="/assets/img/About-Icon.png"
                alt=""
                style="width: 7%"
                class="imgcmn"
              />
              <!-- <ion-icon style="margin-right: 16px;color: #979797" name='at'></ion-icon> 
              <ion-label class="menuName">{{
                "APP.about" | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" [hidden]="hide_update_button">
            <ion-item (click)="update_button_click()" class="menubackground">
              <img
                src="/assets/img/Feedback-Icon.png"
                alt=""
                style="width: 7%"
                class="imgcmn"
              />
              <!-- <ion-icon style="margin-right: 16px;color: red" name='log-out'></ion-icon> 
              <ion-label class="menuName">{{
                "UPDATE.button" | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" class="menubackground">
              <img
                src="/assets/img/Logout-Icon.png"
                alt=""
                style="width: 7%"
                class="imgcmn"
              />
              <!-- <ion-icon style="margin-right: 16px;color: red" name='log-out'></ion-icon> 
              <ion-label class="menuName">{{
                "APP.logout" | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- <div style="padding: 45px; color: whitesmoke; font-size: 1.2rem">
            Time Spent: {{ timeSpend }} mins
          </div> -->

<!-- <div style="margin-top: 70px">
  <a
    href="https://api.whatsapp.com/send?phone=919178198947"
    class="iconwtsappcallfa"
  >
    <ion-icon
      name="logo-whatsapp"
      id="whatsapp"
      class="iconwtsapptext"
      style="color: forestgreen"
    ></ion-icon>
    <label class="iconwtsapp">Whatsapp</label>
  </a>
  <a
    href="tel:09178198947"
    class="button button-positive"
    style="margin: 2.1em"
  >
    <ion-icon
      name="call"
      class="iconwtsappcallsa"
      style="color: forestgreen"
    ></ion-icon>
    <label class="iconwtsapp">Call us</label>
  </a>
</div> -->
<!-- </div> -->

<!-- <ion-menu-toggle auto-hide="false">
          <ion-item routerLink='/training1'>
            <ion-icon style="margin-right: 16px;color: #979797" name='school'></ion-icon>
            <ion-label style="color: #979797">{{ 'HOME.training' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <p style='margin: 16px'>Students</p>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink='/student'>
            <ion-icon style="margin-right: 16px;color: #979797" name='person-add'></ion-icon>
            <ion-label style="color: #979797">Register new Student</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink='/studentexplor'>
            <ion-icon style="margin-right: 16px;color: #979797" name='people'></ion-icon>
            <ion-label style="color: #979797">{{ 'HOME.student_details' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink='/attendance'>
            <ion-icon style="margin-right: 16px;color: #979797" name='paper'></ion-icon>
            <ion-label style="color: #979797">{{ 'HOME.attendance' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
          <p style='margin: 16px'>ECE</p>
          <ion-menu-toggle auto-hide="false">
            <div routerLink='/ecactivity' style='display: flex;flex-flow: row;justify-content: flex-start;align-items:center;color: #979797'>
              <ion-icon style="margin: 16px;font-size: 1.4rem" name='stats'></ion-icon>
              <ion-label>{{ 'HOME.activity_ece' | translate }}</ion-label>
            </div>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false">
            <div routerLink='/ecassessment' style='display: flex;flex-flow: row;justify-content: flex-start;align-items:center;color: #979797'>
              <ion-icon style="margin: 16px;font-size: 1.4rem" name='swap'></ion-icon>
              <ion-label>{{ 'HOME.assessment_ece' | translate }}</ion-label>
            </div>
          </ion-menu-toggle>
        <div style='width: 100%;height: 1px;background: #d3d3d3'></div>
        <p style='margin: 16px'>PGE</p>
        <ion-menu-toggle auto-hide="false">
          <div routerLink='/pgactivity' style='display: flex;flex-flow: row;justify-content: flex-start;align-items:center;color: #979797'>
            <ion-icon style="margin: 16px;font-size: 1.4rem" name='stats'></ion-icon>
            <ion-label>{{ 'HOME.activity_pge_math' | translate }}</ion-label>
          </div>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <div routerLink='/pgactivity' style='display: flex;flex-flow: row;justify-content: flex-start;align-items:center;color: #979797'>
            <ion-icon style="margin: 16px;font-size: 1.4rem" name='stats'></ion-icon>
            <ion-label>{{ 'HOME.activity_pge_eng' | translate }}</ion-label>
          </div>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <div routerLink='/pgactivityodia' style='display: flex;flex-flow: row;justify-content: flex-start;align-items:center;color: #979797'>
            <ion-icon style="margin: 16px;font-size: 1.4rem" name='stats'></ion-icon>
            <ion-label>{{ 'HOME.activity_pge_odia' | translate }}</ion-label>
          </div>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <div routerLink='/pgassessment' style='display: flex;flex-flow: row;justify-content: flex-start;align-items:center;color: #979797'>
            <ion-icon style="margin: 16px;font-size: 1.4rem" name='swap'></ion-icon>
            <ion-label>{{ 'HOME.assessment_pge' | translate }}</ion-label>
          </div>
        </ion-menu-toggle>
        <div style='width: 100%;height: 1px;background: #d3d3d3'></div>
        <p style='margin: 16px'>Others</p>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink='/tchpayment'>
            <ion-icon style="margin-right: 16px;color: #979797" name='cash'></ion-icon>
            <ion-label style="color: #979797">{{ 'HOME.payment' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle> 
      </div>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-ap> -->
