:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
}
.select_full{
    max-width: 100% !important;
}

.btn-margin{
    margin-left: 30%;
}
.feedback-text{
    font-weight: bold;
}