ion-header {
  ion-toolbar {
    --background: transparent;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    ion-back-button {
      color: white;
    }

    ion-title {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: 1px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      margin-left: -53px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 43px;
      background: transparent;
      width: 43px;
      margin-left: 10px;
      ion-icon {
        margin: auto;
        font-size: 1.6rem;
        color: white;
      }
    }
  }
}

ion-content {
  --background: #eff4ff;

  .container {
    width: 100%;
    padding: 0;
    margin: 0;
    .wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      height: 45vh;
      // background: #373b44;
      // background: -webkit-linear-gradient(to right, #4286f4, #373b44);
      // background: linear-gradient(to right, #4286f4, #373b44);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
        url(../../../assets/img/hbl/5172658.jpg) no-repeat center center / cover;
      width: 100%;
      position: relative;

      p {
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 2px;
        font-family: Arial, Helvetica, sans-serif;
      }

      h3 {
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px 10px;
        // word-wrap: normal;
      }

      .custom-shape-divider-bottom-1618830081 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
      }

      .custom-shape-divider-bottom-1618830081 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 110px;
      }

      .custom-shape-divider-bottom-1618830081 .shape-fill {
        fill: #eff4ff;
      }
    }

    .grp {
      margin-top: 20%;
      ion-item {
        border: 0.6px solid #263e77;
        margin: 10px;
        padding: 0;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        background: white;
        ion-label {
          --text-decoration: none;
          font-size: 1.1rem;
          font-weight: 400;
          letter-spacing: 1px;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: capitalize;
          color: #263e77;
          word-wrap: break-word;
        }

        ion-radio {
          height: 30px;
          width: 30px;
          vertical-align: middle;
          --color-checked: #75d154;
        }
      }
    }
  }

  //Baseline completed code
  .success-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .success-card {
      width: 97%;
      margin: 0;
      border-radius: 3px;

      .head-section {
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        margin: 7px;
        padding: 5px 0px;
        border-radius: 5px;
        h1 {
          font-size: 1.3rem;
          font-weight: 400;
          letter-spacing: 1px;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: capitalize;
          color: black;
          margin: 15px;
          text-align: center;
        }
      }

      .mark-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        margin: 7px;
        height: 3rem;
        border-radius: 5px;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        h1,
        h2 {
          font-size: 1.2rem;
          font-weight: 400;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: capitalize;
          color: black;
          margin: 0;
        }

        h1 {
          letter-spacing: 1px;
        }

        h2 {
          letter-spacing: 5px;
        }
      }
    }
  }
}

ion-footer {
  background: #eff4ff;
  ion-button {
    // --background: #373b44;
    // --background: -webkit-linear-gradient(to right, #4286f4, #373b44);
    // --background: linear-gradient(to right, #4286f4, #373b44);
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
      url(../../../assets/img/hbl/5172658.jpg) no-repeat center center / cover;
    color: white;
  }
}
