$ece-color: #4caf50;
$pge-color: #f57c00;
$student-color: #ef5350;
$attence-color: #2196f3;
$black-color: #000000;
$grey-colorhome:#6d6c6c;
.attendance-bg {
    background: $attence-color;
}

.student-bg {
    background: $student-color;
}

.ece-color {
    color: $ece-color;
}

.ece-bg {
    background: $ece-color;
}

.pge-bg {
    background: $pge-color;
}

.pge-color {
    color: $pge-color;
}

.home-card {
    background: white;
    width: 86%;
    margin: 7%;
    border-radius: 0px;
    flex-flow: row;
    display: flex;
    align-items: center;
}

.card-left-block {
    border-radius: 0px 0 0 0px;
    height: 90px;
    width: 25%;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.student-level-name {
    text-align: center;
    width: 25%;
    min-width: 25%;
}

.centered-text-for-card {
    text-align: center;
    width: 75%;
}

.vertical-bar {
    width: 1px;
    height: 120px;
    border-right: 1px rgb(173, 173, 173) solid;
}

.vertical-bar-small {
    width: 1px;
    height: 60px;
    border-right: 1px rgb(173, 173, 173) solid;
}

.button-section-inside-card {
    width: 75%;
    margin: 20px;
    display: flex;
    flex-flow: column;
}

.button {
    text-align: center;
    margin: 10px;
    border-radius: 0px;
    width: 90%;
}

.cardimg {
    width: 40%;
}

.ece-solid {
    color: white;
    background: $ece-color;
    p {
        color: white;
    }
}

.ece-bordered {
    background: white;
    color: $ece-color;
    border: 1px solid $ece-color;
    p {
        color: $ece-color;
    }
}

.pge-solid {
    color: white;
    background: $pge-color;
    p {
        color: white;
    }
}

.pge-bordered {
    background: white;
    color: $pge-color;
    border: 1px solid $pge-color;
    p {
        color: $pge-color;
    }
}

.decorative-side-panel {
    height: 120px;
    width: 5px;
}

.decorative-side-panel-small {
    height: 50px;
    width: 5px;
}

.solid-icon {
    margin: 10px;
    height: 60px;
    width: 60px;
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cyan-bg {
    background: #1de9b6;
}

.lemon-bg {
    background: #d4e157;
}

.spread-evenly {
    justify-content: space-evenly;
}

.white {
    color: white;
}

.box {
    box-shadow: 0 2px 4px rgba(var(--ion-color-dark-rgb), 0.24);
    margin: 10px;
    text-align: center;
}

.data {
    margin: 0;
}

.data-large {
    font-size: 12px;
    margin: 0;
}

.sliderhome1 {
    background: url("../../../assets/img/SliderImg_1.png") no-repeat;
    background-size: cover;
    height: 160px;
}

.sliderhome2 {
    background: url("../../../assets/img/SliderImg_2.png") no-repeat;
    background-size: cover;
    height: 160px;
}

.sliderhome3 {
    background: url("../../../assets/img/SliderImg_3.png") no-repeat;
    background-size: cover;
    height: 160px;
}

.homeslide {
    font-size: 10px;
    margin-bottom: 0;
}

.homeslidediv {
    background-color: rgba(0, 0, 0, 0.8);
    width: 56%;
    text-align: left;
    position: relative;
    left: -57px;
    padding: 9px;
    bottom: 16px;
}

.page-title {
    margin-bottom: 0;
}

.homeslides ion-slides {
    --bullet-background: white;
    --bullet-background-active: #43464b;
}

.hometitle {
    color: $black-color;
}

.homesubtitle {
    color: $grey-colorhome;
}
.like
{
    width: 100%;
    position: absolute;
    bottom: 5px;
    float: right;
    padding-right: 25%;
    font-size: 20px;
}