<ion-content padding>
    <ion-card class="gridStyle">
        <div class="">
            <p style="padding:10px;">
                {{ content }}
            </p>
        </div>
    </ion-card>
    <!-- <ion-card class="videoCard">
        <div class="d-flex justify-content-around align-items-center">
            <div class="verAlign">
                <ion-label class="padLeft">Work Sheets</ion-label>
                <a href="javascript:void(0);">
                    <ion-icon name="paper" class="paper data-xlarge" color='primary' style="display: block;"></ion-icon>
                </a>
            </div>
        </div>
    </ion-card>
    <ion-row class="padLR">
        <ion-button icon-left size="medium" color="primary" float-right tappable class="explore-btn">Complete
        </ion-button>
    </ion-row> -->
</ion-content>