ion-header {
  ion-toolbar {
    --background: #373b44;
    --background: -webkit-linear-gradient(to right, #4286f4, #373b44);
    --background: linear-gradient(to right, #4286f4, #373b44);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    ion-back-button {
      color: white;
    }

    ion-title {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: 1px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      margin-left: -53px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 43px;
      background: transparent;
      width: 43px;
      margin-left: 10px;
      ion-icon {
        margin: auto;
        font-size: 1.6rem;
        color: white;
      }
    }
  }
}

ion-content {
  --background: #eff4ff;
  .container {
    margin-top: 57px;
    padding: 0;

    .card {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      width: 97%;
      margin: auto;
      background: white;
      margin-bottom: 5px;
      margin-top: 5px;
      min-height: 50px;
      display: flex;
      align-items: flex-start;

      h2 {
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        color: #263e77;
        letter-spacing: 1px;
        font-weight: 600;
        margin: 0;
      }
    }

    h2 {
      font-size: 1.2rem;
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      letter-spacing: 1px;
      margin: 10px;
    }

    .profile {
      width: 100%;
      height: 180px;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
    }
    .profile-pic {
      width: 150px;
      height: 150px;
    }
    .outer {
      width: 100% !important;
      height: 100% !important;
      max-width: 150px !important; /* any size */
      max-height: 150px !important; /* any size */
      margin: 20px auto;
      border-radius: 100%;
      position: relative;
      background-size: 150px 150px;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
      }
    }
    .inner {
      background-color: #075e54;
      width: 45px;
      height: 45px;
      border-radius: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .camera-icon {
      height: 30px;
      width: 30px;
      color: white;
    }

    ion-card {
      width: 97%;
      margin: auto;
      background: white;
      margin-bottom: 5px;
      margin-top: 5px;
      min-height: 80px;
      display: flex;
      align-items: center;
    }

    .container-max {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    ion-item {
      border-radius: 10px;
      width: 100%;

      .label {
        padding-top: 10px;
        color: #263e77;
        font-size: 1.1rem;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 100% !important;
      }

      ion-icon {
        color: #263e77;
      }

      ion-select,
      ion-select-option {
        color: #263e77 !important;
        opacity: 1 !important;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
        font-weight: 600;
        letter-spacing: 1px;
        font-weight: 1.2rem;
      }

      ion-label {
        color: #263e77;
        font-size: 1.1rem;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 100% !important;
      }

      ion-datetime {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        font-size: 1.1rem;
      }

      ion-input {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: #000;
        text-transform: capitalize;
      }

      ion-radio-group {
        width: 100%;
        .wrapper {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;

          @keyframes white-to-blue {
            0% {
              background: white;
              color: #2196f3;
            }
            100% {
              background: #2196f3;
              color: white;
            }
          }
          .selected-chip {
            animation: white-to-blue 0.6s;
            animation-fill-mode: forwards;
            border-radius: 50%;
            text-align: center;
            background: #2196f3;
            min-height: 15px;
          }

          @keyframes blue-to-white {
            0% {
              color: white;
              background: #2196f3;
            }
            100% {
              color: #2196f3;
              background: white;
            }
          }
          .unselected-chip {
            animation: blue-to-white 0.6s;
            animation-fill-mode: forwards;
            border-radius: 50%;
            text-align: center;
            color: #2196f3;
            min-height: 15px;
            p {
              color: #2196f3;
            }
          }
        }
      }
    }
    ion-button {
      --background: #373b44;
      --background: -webkit-linear-gradient(to right, #4286f4, #373b44);
      --background: linear-gradient(to right, #4286f4, #373b44);
      font-size: 1.1rem;
      font-weight: 500;
      margin-top: 20px;

      ion-icon {
        margin-left: 10px;
      }
    }
  }
}

ion-icon {
  margin-right: 10px;
}

.hbar {
  margin: 10px 0px;
  min-width: 100%;
  background: #9e9e9e;
  min-height: 1px;
}

.material-toolbar {
  background: #002b45 !important;
}

.pMargin {
  margin-bottom: 0px;
}

.head {
  color: #222222;
  font-weight: 600;
  font-size: 20px;
}

// :host {
//   ion-content {
//     --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
//   }
// }

// .profile {
//   ion-card {
//     width: 100%;
//     border-radius: 0;
//     background-color: #fff;
//     ion-card-content {
//       padding: 32px;
//       background-color: var(--ion-color-primary);
//       color: #fff;
//       text-align: center;

//       img {
//         height: 128px;
//         width: 128px;
//         border-radius: 50%;
//         border: solid 4px #fff;
//         display: inline;
//         box-shadow: 0 0 28px rgba(255,255,255, .65);
//       }

//       h1 {
//         margin-top: .5rem;
//       }
//     }
//   }

//   ion-item {
//     ion-input {
//       border-bottom: 1px solid var(--ion-color-tertiary);
//     }
//   }

//   ion-buttom {
//     button {
//       margin: 0;
//     }
//   }
// }
