ion-content {
  --background: rgba(0, 0, 0, 0.270588) !important;
  position: relative;

  .close-main {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 3px solid white;
      height: 40px;
      width: 40px;

      ion-icon {
        color: white;
      }
    }
  }
}

ion-footer {
  padding: 0;
  min-height: 200px;

  .wrapper {
    background: #eff4ff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 100%;

    ion-card {
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 120px;

      img {
        width: 70px;
        width: 70px;
      }
      P {
        font-size: 1rem;
        text-align: center;
        margin: 0;
        color: black;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
      }
    }
  }
}

.title {
  padding-left: 10px;
}
.removePhoto {
  height: 45px;
  width: 45px;
  background-color: #e74d33;
  border-radius: 22px;
  margin: 0 auto;
}
.icon {
  padding-top: 10px;
  font-size: 24px;
  color: white;
}
.galleryPhoto {
  height: 45px;
  width: 45px;
  background-color: #6f2a89;
  border-radius: 22px;
  margin: 0 auto;
}
.cameraPhoto {
  height: 45px;
  width: 45px;
  background-color: #92c45a;
  border-radius: 22px;
  margin: 0 auto;
}
