// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "~ionic4-auto-complete/auto-complete";
ion-item {
  --ion-item-background: transparent;
}

.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
  white-space: normal;
}
.alert-tappable.alert-radio {
  height: auto;
  contain: content;
}

.horizontal-flexbox {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.vertical-flexbox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

// backgrounds //
.bg-white {
  background-color: #fff;
}

.shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.014), 0 6px 6px rgba(0, 0, 0, 0.21);
}

.bg-light {
  background-color: var(--ion-color-light);
}

.bg-dark {
  background-color: var(--ion-color-dark);
}

.bg-primary {
  background-color: var(--ion-color-primary);
}

.bg-secondary {
  background-color: var(--ion-color-secondary);
}

.bg-tertiary {
  background-color: var(--ion-color-tertiary);
}

.bg-profile {
  background-image: linear-gradient(
    135deg,
    var(--ion-color-dark),
    var(--ion-color-primary)
  );
}

.bg-main {
  background-image: linear-gradient(
    -135deg,
    var(--ion-color-medium),
    var(--ion-color-light)
  );
}

// Helpers //
.w100 {
  width: 100%;
}

.bold,
.fw500 {
  font-weight: 500 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.text08 {
  font-size: 0.8rem;
}

.text1 {
  font-size: 1rem !important;
}

.text12 {
  font-size: 1.2rem;
}

.text15 {
  font-size: 1.5rem;
}

.text20 {
  font-size: 2rem;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: var(--ion-color-primary);
}

.text-secondary {
  color: var(--ion-color-secondary);
}

.text-dark {
  color: var(--ion-color-dark);
}

// menu //
// Menu user profile
ion-toolbar.user-profile {
  .user-avatar {
    width: 68px;
    height: 68px;
  }
  .item-inner {
    border-width: 0;
  }
}

// Custom toolbar (overriding Shadow DOM)
ion-toolbar {
  &.ion-color-primary {
    // --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
    margin-left: 0px;
  }
}

// Android card shadow
ion-card {
  &.sc-ion-card-md-h {
    box-shadow: 0 2px 4px rgba(var(--ion-color-dark-rgb), 0.24);
  }
}

// style for auth pages
.auth-page {
  background-image: linear-gradient(
    135deg,
    var(--ion-color-dark),
    var(--ion-color-primary)
  );
  .grid {
    padding: 0;
    .col {
      padding: 0;
    }
  }
  .btn-group {
    .button-ios,
    .button-md {
      border-radius: 0;
      &:first-of-type {
        border-radius: 2px 0 0 2px;
      }
      &:last-of-type {
        border-radius: 0 2px 2px 0;
      }
    }
  }
  .auth-content {
    margin: 0 5%;
    .logo {
      width: 60px;
      height: 60px;
      margin: 20px auto 8px;
      border-radius: 10%;
      background: url("/assets/img/logo-round.png") no-repeat;
      background-size: 100%;
    }
    .logo-round {
      width: 60px;
      height: 60px;
      margin: 20px auto 8px;
      border-radius: 10%;
      background: url("/assets/img/logo-round.png") no-repeat;
      background-size: 100%;
    }
    .list-form {
      padding: 0;
      margin-bottom: 0;
      ion-item {
        background: none;
        padding: 0;
        &:first-child {
          border-top: none;
        }
        &:after {
          display: none;
        }
        ion-label {
          font-size: 1em;
          color: var(--ion-color-dark);
        }
        input {
          color: var(--ion-color-dark);
        }
      }
    }
  }
}

// Custom Menu styles (overriding Shadow DOM)
ion-menu {
  ion-header {
    ion-toolbar {
      &.ion-color-dark {
        --ion-color-base: linear-gradient(
          135deg,
          var(--ion-color-dark),
          var(--ion-color-primary)
        ) !important;
      }
    }
  }
}

.mto {
  margin-top: 12px;
  ion-icon {
    margin-bottom: -2px;
  }
}

.expense-modal-css .modal-wrapper {
  height: 70%;
  top: 30%;
  position: absolute;
  display: block;
}

.page-title {
  text-align: center;
  color: gray;
}

.page-title-absolute {
  color: gray;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}

.material-toolbar {
  color: gray;
  ion-row {
    position: relative;
  }
}

$text-color: gray;
p {
  color: gray;
}

.data {
  color: $text-color;
  font-size: 1rem;
}

.data-large {
  color: $text-color;
  font-size: 1.4rem;
}

.data-small {
  color: $text-color;
  font-size: 0.8rem;
}

.data-xlarge {
  color: $text-color;
  font-size: 2rem;
}

.white {
  color: white;
}

.black {
  color: black;
}

.white-bg {
  background: white;
}

.black-bg {
  background: black;
}

.red {
  color: #f44336;
}

.red-bg {
  background: #f44336;
}

.green {
  color: #4caf50;
}

.green-bg {
  background: #4caf50;
}

.blue {
  color: #2196f3;
}

.blue-bg {
  background: #2196f3;
}

.gray {
  color: gray;
}

.gray-bg {
  background: gray;
}

// Horizontal Flexbox justify contents: space evenly
.hfse {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.hffs {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.hfc {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.hfsb {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

.card {
  border-radius: 4px;
  margin: 15px;
  padding: 20px;
}

.m10 {
  margin: 10px;
}

.mtop10 {
  margin-top: 10px;
}

.mbot10 {
  margin-bottom: 10px;
}

.m20 {
  margin: 20px;
}

.mtop20 {
  margin-top: 20px;
}

.mbot20 {
  margin-bottom: 20px;
}

.mh10 {
  margin-right: 10px;
  margin-left: 10px;
}

.padding10 {
  padding: 10px;
}

.m0 {
  margin: 0px;
}

.wrap {
  flex-wrap: wrap;
}

.d-Flex {
  display: flex;
  align-items: center;
}

// me
.textarea ol {
  padding: 0px !important;
  color: gray;
}

.textarea ul {
  padding: 0px !important;
  color: gray;
}

.textarea h2 {
  font-size: 18px !important;
}

.page-title-absolute {
  color: gray;
  position: absolute;
  right: 0;
  text-align: center;
  width: 90%;
  height: 100%;
}

.my-modal {
  height: 100% !important;
  width: 100% !important;
  padding: 30% 10%;
}

.half-modal .modal-wrapper {
  top: 60%;
  height: 40%;
  position: absolute;
  display: block;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  --background: rgba(44, 39, 45, 0.7);
}

.half-modal-message .modal-wrapper {
  top: 40%;
  height: 60%;
  position: absolute;
  display: block;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.contact-popover .popover-content {
  width: 90%;
}

.alertclass {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.transparent-modal .modal-wrapper {
  --background: rgba(44, 39, 45, 0.7);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
