@keyframes white-to-blue {
    0% {
        background: white;
        color: #2196f3;
    }
    100% {
        background: #2196f3;
        color: white;
    }
}

.selected-chip {
    animation: white-to-blue 0.6s;
    animation-fill-mode: forwards;
    border-radius: 4px;
    text-align: center;
    color: white;
    background: #2196f3;
    min-width: 30%;
    min-height: 20px;
    margin: 4px;
    p {
        color: white;
    }
}

@keyframes blue-to-white {
    0% {
        color: white;
        background: #2196f3;
    }
    100% {
        color: #2196f3;
        background: white;
    }
}

.unselected-chip {
    animation: blue-to-white 0.6s;
    animation-fill-mode: forwards;
    border-radius: 4px;
    text-align: center;
    color: #2196f3;
    border: 1px #2196f3 solid;
    min-width: 30%;
    min-height: 20px;
    margin: 4px;
    p {
        color: #2196f3;
    }
}

.selected-chip p,
.unselected-chip p {
    margin: 10px;
}

.card-np {
    margin: 20px;
    border-radius: 0px;
    color: gray;
    overflow: auto;
}

.p20 {
    padding: 20px;
}

.marks-button {
    color: white;
    border-radius: 0px;
    padding: 20px;
    min-width: 100px;
    margin: 0 0 20px 0;
}

.green {
    background: #4caf50;
}

.orange {
    background: #ff9800;
}

.purple{
    background: #7D4040;
}

.card {
    // padding: 30px;
    margin: 20px;
    color: gray;
    border-radius: 0px
}

.hbar {
    min-height: 1px;
    background: gray;
    width: 100%
}

.marginBottom {
    margin-bottom: 0;
    color: #ffffff;
}

.material-toolbar {
    background: #002b45 !important;
}

.pMargin {
    margin-bottom: 0;
}

.marks-buttonHeading {
    color: white;
    border-radius: 0px;
    //padding: 1px 20px;
    min-width: 100px;
    margin: 0 0 20px 0;
}