.general
{
    text-align: center;
  //  background-color: cornflowerblue;
    padding: 4%;
    //color: white;
    font-size: 20px;
    font-weight: bold;
}
.close
{
    text-align: right;
    font-size: 20px;
    color: red;
}

.button {
  display: flex;
  justify-content: center;
}