:host {
    ion-item {
        border-radius: 0;
    }
    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
    .card-content-md {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 0px;
        line-height: 0;
    }
}


/* disabled ion select option */

::shadow /deep/ button[disabled] .alert-radio-label {
    color: #a3a3a3;
}

.text10 {
    font-size: 10px;
    font-family: monospace;
}

.button-bg {
    background-color: #381dd8;
}

.card_padding20 {
    padding: 20px;
}

.span_text {
    font-family: inherit;
}

.span_text9 {
    font-size: 9px;
}

.span_text40 {
    font-size: 40px;
}

.center-aligned {
    text-align: center;
}

.ion-col-style {
    text-align: center;
    border: 1px solid #a4a4a4;
    background-color: #e4e7fd;
    margin: 3px;
    box-shadow: 0px 1px 1px 0px;
}

.color_feedback {
    color: green;
}

.color_pic {
    color: #c88f36;
}

.color_location {
    color: #002080;
}

.color_payment {
    color: #800069;
}

.color_assessment {
    color: #007f80;
}

.color_comvisit {
    color: #925901;
}

.color_issues {
    color: #eb0707;
}

.btn-margin {
    margin-left: 34%;
}

.card-margin {
    margin: 20px;
}

.radio-margin {
    margin-left: -15px;
}

.explore-div {
    background-color: #f3f3f3;
}

.explore-btn {
    width: 100%;
}

.select-width {
    max-width: 100%;
}

.right-align {
    text-align: right;
}

.full_width {
    width: 100%;
}

.segment-button {
    text-transform: none;
    border: 1px solid #c2c2e8;
    ;
    border-radius: 100px;
}

.date-button {
    background-color: #ffce00;
    box-shadow: 1px 1px 0px 1px #afacac;
    width: 100%;
    border-radius: 100px !important;
}

.row-margin-top {
    margin-top: 60px;
}

.row-margin-bottom {
    margin-bottom: 60px;
}

.card-padding {
    padding: 30px;
}

a[disabled],
button[disabled],
html input[disabled] {
    cursor: not-allowed !important;
}

.whitecard {
    background-color: white;
    padding: 15px;
    font-weight: bold;
}

.marginBottom {
    margin-bottom: 0;
    color: #ffffff;
}

.material-toolbar {
    background: #189cec !important;
}

.inverted_border_radius{
    height: 20px;
    background: white;
    border-radius: 25px 25px 0px 0px;
}
.horizontal-flexboxx {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.selected-chip {
    animation: white-to-blue 0.6s;
    animation-fill-mode: forwards;
    border-radius: 4px;
    text-align: center;
    color: white;
    background: green;
    border: 1px solid green;
    min-width: 30%;
    min-height: 20px;
    margin: 4px;
    p {
        color: white;
    };
    padding: 5px 15px;
}
.complete-chip{
    border-radius: 4px;
    text-align: center;
    //color: white;
    //background: green;
    border: 1px solid green;
    min-width: 30%;
    min-height: 20px;
    margin: 4px;
    p {
        //color: white;
        //background-color: green;
    };
    padding: 5px 15px;
}
.completemonthselected-chip{
    border-radius: 4px;
    text-align: center;
    color: white;
    background: green;
    border: 1px solid green;
    min-width: 30%;
    min-height: 20px;
    margin: 4px;
    p {
        color: white;
    };
    padding: 5px 15px;
}


.complete-selected-chip {
    border-radius: 4px;
    text-align: center;
    //color: white;
    //background: green;
    border: 1px solid green;
    min-width: 30%;
    min-height: 20px;
    margin: 4px;
    p {
        //color: white;
    };
    padding: 5px 15px;
}

.completeweekselected-chip{
    // animation: white-to-blue 0.6s;
    // animation-fill-mode: forwards;
    border-radius: 4px;
    border: 1px solid green;
    text-align: center;
    //color: white;
    //background: green;
    min-width: 46%;
    min-height: 20px;
    margin: 4px;
    p {
        //color: white;
    };
    padding: 5px 15px;
    width: 100%;
}

.weekselected-chip {
    animation: white-to-blue 0.6s;
    animation-fill-mode: forwards;
    border-radius: 4px;
    border: 1px solid green;
    text-align: center;
    //color: white;
    border: 1px solid #2196f3;
    //background: #2196f3;
    min-width: 46%;
    min-height: 20px;
    margin: 4px;
    p {
        //color: white;
    };
    padding: 5px 15px;//<-- test2
}

.weekunselected-chip {
    animation: blue-to-white 0.6s;
    animation-fill-mode: forwards;
    border-radius: 4px;
    text-align: center;
    //color: #2196f3;
    border: 1px solid green;
    min-width: 46%;
    min-height: 20px;
    margin: 4px;
    p {
        //color: #2196f3;
    };
    padding: 5px 15px;
}

.unselected-chip {
    animation: blue-to-white 0.6s;
    animation-fill-mode: forwards;
    border-radius: 4px;
    text-align: center;
    //color: #2196f3;
    border: 1px solid green;
    min-width: 30%;
    min-height: 20px;
    margin: 4px;
    p {
        //color: #2196f3;
    };
    padding: 5px 15px;
}


.complete-unselected-chip {
    animation: blue-to-white 0.6s;
    animation-fill-mode: forwards;
    border-radius: 4px;
    text-align: center;
    //color: green;
    border: 1px green solid;
    min-width: 30%;
    min-height: 20px;
    //background: green;
    margin: 4px;
    p {
        //color: green;
    };
    padding: 5px 15px;
}



.selected-chip p,
.unselected-chip p {
    margin: 10px 0px;
}

.weekselected-chip p,
.weekunselected-chip p {
    margin: 10px 0px;
}


.hidden {
    animation: fadeOut 0.6s;
    animation-fill-mode: forwards;
}


.expanded {
    animation: fadeIn 0.6s;
    animation-fill-mode: forwards;
}

.card {
    // padding: 30px;
    padding: 0px 8px;
    margin: 20px;
    color: gray;
    border-radius: 4px;
}

.hbar {
    min-width: 80%;
    background: rgb(199, 199, 199);
    min-height: 1px;
}

.weekmonthHead {
    color: #bcb9b9;
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
}
.width100{
    width: 100%;
}
.leveltxt1{
    font-weight: bold;
    //background-color: #002b45;
    //color: white;
    //padding: 10px 39px;
}
.leveltxt2{
    background-color: #ffffff14;
    //border-radius: 50%;
    padding: 0px;
    font-size: 20px;
    //width: 60px;
}
.buttoncard{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc8c8;
}
.buttoncardicon{
    width:20%;
    margin-right: 10px;
}
.buttoncardtext{
    color: gray;
    font-weight: bold;
    font-size: 14px;
}